@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  background: url("../img/photo-1521985179118-6008b8cef2c2.jpeg") center/cover
    no-repeat;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 3em;
}

h1 {
  margin-bottom: 5%;
}

section {
  width: 50%;
  margin: 0 auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  background-color: transparent;
  border-radius: 10px;
  padding: 70px 70px 70px 20px;
  margin-top: 10%;
}

section form label {
  padding-top: 20px;
  margin-bottom: 25px;
}

input[type="text"] {
  width: 100%;
  height: 5vh;
  color: red;
  background-color: rgb(231, 237, 247);
  font-size: 0.8em;
}

input[type="button"] {
  width: 40%;
  height: 5vh;
  margin: 10px 5px 1px 60%;
  border-radius: 5px;
  color: #fff;
  background-color: green;
  font-size: 1em;
}
